@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-y-auto {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-y-auto:hover {
  -webkit-line-clamp: unset; /* Reset the clamp to show full content on hover */
  overflow-y: auto; /* Enable vertical scroll */
}
